---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <div>
      <div style="height: 300px; width: 100%; background-color: red;"></div>
      <h1>Selamat Datang di Pusat Informasi Digital Padukuhan Dungkasi</h1>
    </div>
    <Footer />
  </body>
</html>
